.exercise-2
{
    background-image: url("https://i.ibb.co/FBT6f2B/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 85vh;
}
.video-section
{
    background-color: blanchedalmond;
    width: 500px;
    height: 100px;
    margin-left: 350px;
    margin-top: 10px;
}
.button-section
{
    margin-top: 100px;
    height: 250px;
}
.continue-section
{
    height: 40px;
    background-color: white;
}
.btn-style
{
    text-decoration: none;
    color: black;
}
.continue-btn
{
    background-color: darkorange;
    margin-left: 900px;
    width: 145px;
    border-style: none;
    margin-top: 10px;
 
}

