.question-card {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 75%; /* Can be in percentage also. */
    height: 210px;
  
    /* Visual  */
    background-color: gray;
    padding: 10px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
      margin-top: 40px;
  }
  
  .ul-quiz {
    list-style: none;
    flex-direction: column;
  flex-wrap: wrap;
  }
  .option-quiz
  {
      margin-top: 10px;
  }
  
  .li-quiz {
    margin-top: 5px;
    background-color: darkgray;
    padding: 5px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .question-text {
    color: darkblue;
    font-size: 24px;
  }
  
  /* Final Results  */
  
  .final-results {
    /* Center the div  */
    margin-top: 30px;
 margin-left: 130px;
 margin-bottom: 50px;
    /* Dimensions  */
    width: 80%; /* Can be in percentage also. */
    height: 450px;
  padding-top: 200px;
  
    /* Visual  */
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  .img-result
  {
      height: 300px;
      width: 400px;
     
  }
  
  .button-quiz {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
  }
 

  .img-quiz
  {
      height: 210px;
      width: 420px;
  }
  .button-option
  {
      background-color:lightgray;
      width: 200px;
      margin-top: 13px;
      font-size: 16px;
      border: lightgray;
      padding: 5px;
      height: 40px;
  }
  .button-option :hover
  {
      transform: scale(1.1);
      transition: transform 200ms ease-in-out;
      cursor: pointer;
  }