.exercise-3
{
    background-image: url("https://i.ibb.co/FBT6f2B/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 80vh;
  
}
.table-section
{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
  
   
}
.thead
{
    font-size: 20px;
}
.table
{
    font-weight: 500;
}

.continue-section
{
    height: 60px;
    background-color: white;
}
.btn-style
{
  
}
.continue-btn
{

}
.list
{
    list-style: none;
    justify-content: flex-start;
    align-items:space-between;
 
    display: flex;
    margin-left: 30px;
    background-color: white;
    width: 90%;
    margin: auto;
    
   
}
.background
{
    background-color:#fbc556;
    width: 650px;
    border-radius: 5px;
    height: 75px;
}
.list-container
{
    width: 90%;
    height: 420px;
    background-color: white;
    margin: auto;
}